dist: xenial
language: cpp

matrix:
  include:
    - compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-9
      env:
        - COMPILER=g++-9

      before_script:
        - sudo apt install python3-pip
        - pip install conan --user
        - conan remote add conan-public "https://api.bintray.com/conan/conan/public-conan"
        - conan remote add taocpp "https://api.bintray.com/conan/taocpp/public-conan"
        - conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
      script:
        - mkdir build
        - cd build
        - conan install .. --build=missing --settings compiler.libcxx="libstdc++11"
        - cmake -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=Release -Drdf_parser_BUILD_TESTS=ON ..
        - make -j
        - ./tests/bin/tests